doctype html
html(lang="en")
    include include/_head
    include include/_body
        .container-fluid 
            .container 
                .row 
                    section#heading_section.col-12 
                        h1 Welcome to ToDo.js 
                        lottie-player(src='https://assets9.lottiefiles.com/datafiles/gUENLc1262ccKIO/data.json' background='transparent' speed='1' style='width: 300px; height: 300px;' loop='' autoplay='')

    include include/_scripts

