#intro_page {
	@media (max-width: 768px) {
		height: 100vh !important;

		.intro {
			flex-direction: column;
			justify-content: center;
			align-items: center;

			& section {
				height: 45vh !important;
				width: 85vw !important;
			}
		}

		lottie-player {
			height: 100% !important;
		}
	}

	#heading_text {
		text-align: center;
		> h1 {
			font-size: 4rem;
		}
		> button {
			padding: 8px 15px;
			border-radius: 5px;
			font-size: calc(1rem + 4px);
			transition: 0.3s ease;
			&:hover {
				letter-spacing: 1.2px;
			}
		}
	}
}
