#main_page {
	#heading_section {
		> h1 {
			flex-grow: 2;
			text-align: center;
		}

		> button {
			color: $secondaryColor;
		}
	}

	#tasks_wrapper {
		padding: 0 1rem !important;

		#tasks_list {
			padding: 1rem !important;

			.task_item {
				margin-top: 10px;
				background-color: #eaeaea;
				padding: 15px;
				display: flex;
				width: 100%;
				border-radius: 4px;

				.task_title {
					flex-grow: 3;
					font-size: 20px;
				}

				&.completed {
					.task_title {
						text-decoration: line-through;
						color: #ccc;
					}
				}

				.TaskStatus {
					cursor: pointer;
					accent-color: $secondaryColor;
					font-size: 20px;
				}

				> button {
					border: 0;
					background: transparent;
					font-size: 20px;
					transition: 0.3s ease;
				}

				.removeTask_btn {
					color: crimson;
					margin: 0 10px;

					&:hover {
						color: #c41034;
					}
				}
			}
		}
	}
}

#changeTaskContent {
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position: absolute;
	top: -300px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.3s ease;

	> input {
		outline: 0;
	}
}

@media (max-width: 768px) {
	.form-control {
		width: 95% !important;
	}
}