#intro_page {
  // z-index: 2;
  #heading_text {
    text-align: center;
    // color: #404040;
    > h1 {
      font-size: 4rem;
      > span {
      }
    }
    > button {
      padding: 8px 15px;
      border-radius: 5px;
      font-size: calc(1rem + 4px);
      transition: 0.3s ease;
      &:hover {
        letter-spacing: 1.2px;
      }
    }
  }
}
