#main_page {
  // z-index: -1;
  #heading_section {
    >h1{
      flex-grow: 2;
      text-align: center;
    }
    > button{
      color: $secondaryColor;
    }
  }
  #addTask_section {
  }
  #action_buttons {
  }
  #tasks_wrapper {
    #tasks_list {
      .task_item {
        margin-top: 10px;
        background-color: #eaeaea;
        padding: 15px;
        display: flex;
        width: 100%;
        border-radius: 4px;
        &.completed {
          .task_title {
            text-decoration: line-through;
            color: #ccc;
          }
        }
        .task_title {
          flex-grow: 3;
          font-size: 20px;
        }
        .TaskStatus {
          cursor: pointer;
          accent-color: $secondaryColor;
          font-size: 20px;
        }
        > button {
          border: 0;
          background: transparent;
          font-size: 20px;
          transition: 0.3s ease;
        }
        .removeTask_btn {
          color: crimson;
          margin: 0 10px;
          &:hover {
            color: #c41034;
          }
        }
        .editTask_btn {
        }
      }
    }
  }
}
#changeTaskContent {
  width: 400px;
  height: 200px;
  background-color: #ccc;
  position: absolute;
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s ease;
  > input {
    outline: 0;
  }
}
